@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.gts-container-content{

    padding-bottom: 5rem;
}

.gts-container-carousel{
padding-top: 5rem;
}
/* Navbar GTS */
.gts-btn-primary {
    width: 6rem;
    height: auto;
    border-radius: 1rem 1rem 1rem 1rem;
    background: #00473e;
    color: white;
}

.gts-btn-primary:hover {
    width: 6rem;
    height: auto;
    border-radius: 1rem 1rem 1rem 1rem;
    border: 2px solid #00473e;
    color: #00473e;
}

.gts-btn-secondary {
    width: 6rem;
    height: auto;
    border-radius: 1rem 1rem 1rem 1rem;
    border: 2px solid #00473e;
    color: #00473e;
}

.gts-btn-secondary:hover {
    width: 6rem;
    height: auto;
    border-radius: 1rem 1rem 1rem 1rem;
    background: #00473e;
    color: white;
}


/* Search GTS */
.gts-search {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem
}

.gts-form-search {
    border-radius: 1rem 1rem 1rem 1rem;
}



/* Carousel GTS */
.gts-carousel {
    padding-top: 2rem;
    background-color: #00473e;
    text-align: center;
    height: 25rem;
    padding-left: 15rem;
    padding-right: 15rem;

}

.gts-img-banner {
    width: 40rem;
    height: 15rem;
    border-radius: 1rem 1rem 1rem 1rem;

}

span.gts-btn-carousel-next {
    background-image: url(../img/next.png);
    height: 4rem;
    width: 2.5rem;

}

span.gts-btn-carousel-prev {
    background-image: url(../img/prev.png);
    height: 4rem;
    width: 2.5rem;
}


/* Kategori GTS */

.gts-kategori{
    text-align: center;
    padding-left: 19rem;
    padding-right: 19rem;
}

.gts-img-kategori{
    margin-top: 1.5rem;
    width: 5rem;
    align-items: center ;
}

.gts-kategori-item{
    height: 10rem;
    border: 3px solid #00473e;
    background-color: white;
    width: 10rem;
    box-shadow: #00473e 0px 3px 8px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
.gts-kategori-item:hover{
    box-shadow: rgba(0, 0, 0, 0) 0 0 0 0;
}

.gts-icon-txt{
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
}


/* Konten GTS */
.gts-content{
    background-color: white;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: center;
    margin-top: 2rem;
    height: auto;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 2.6px;
    border-radius: 10px 10px 10px 10px;
}

.gts-img-konten{
    width: 7rem;
}

.gts-konten-item{
    height: 15rem;
    border: 3px solid #00473e;
    background-color: white;
    width: 10rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 2.6px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    margin-bottom: 2rem;
}
.gts-konten-item:hover{
    height: 15rem;
    border: 7px solid #00473e;
    background-color: white;
    width: 10rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 2.6px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.gts-konten-txt{
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
}


/* Footer GTS */
.footer-clean {
    padding: 50px 0;
    color: rgb(0, 0, 0);
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}
/*Product*/
.product-grid{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 50%;
    height: auto;
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-image img{ transform: scale(1.1); }
.product-grid .product-links{
    background: #fff;
    width: 150px;
    padding: 10px 20px;
    margin: 0;
    list-style: none;
    border-radius: 30px;
    box-shadow: 1px 0 30px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateX(-50%) translateY(-150%);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .35s ease;
}
.product-grid:hover .product-links{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
}
.product-grid .product-links li{
    width: 48%;
    margin: 10px 0;
    display: inline-block;
}
.product-grid .product-links li a{
    color: #788090;
    font-size: 18px;
    transition: all .3s;
}
.product-grid .product-links li a:hover{
    color: #341f97;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.2);
}
.product-grid .product-content{ padding: 15px; }
.product-grid .price{
    color: #333;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 10px;
}
.product-grid .price span{
    color: #999;
    font-weight: 400;
    margin: 0 0 0 5px;
    text-decoration: line-through;
}
.product-grid .title{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 12px;
}
.product-grid .title a{
    color: #333;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{
    color: #341f97;
    text-decoration: underline;
}
.product-grid .rating{
    color: #fbb230;
    font-size: 13px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.product-grid .rating li.far{ color: #999; }
@media screen and (max-width: 990px){
    .product-grid{ margin-bottom: 30px; }
}

/* Responsive */
@media (max-width: 767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width: 991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}

